//COLORS
$primary-color: #0e8092;
$dark-color: #323940;
$light-color: #ececec;
$danger-color: #be3541;
$success-color: #16b53a;
$background-color: #ffffff;
$placeholder-color: #d4d4d4;
$form-label-color: #3b3b3b;

//SIZES
$max-width: 1100px;