//COLORS
$primary-color: #0e8092;
$dark-color: #323940;
$light-color: #ececec;
$danger-color: #be3541;
$success-color: #16b53a;
$background-color: #ffffff;
$placeholder-color: #d4d4d4;
$form-label-color: #3b3b3b;

//SHADOWS
$light-shadow: 0 1rem 2rem rgba(0,0,0, .1);

//SIZES
$max-width: 1100px;

//MARGINS AND PADDING
$spaceamounts: (1,2,3,4,5);
@each $space in $spaceamounts {
  //ALL AROUND MARGIN
  .margin-#{$space} {
    margin: #{$space}rem;
  }
  //VERTICAL MARGIN
  .margin-vertical-#{$space} {
    margin: #{$space}rem 0;
  }
  //ALL AROUND PADDING
  .padding-#{$space} {
    padding: #{$space}rem;
  }
  //VERTICAL PADDING
  .padding-vertical-#{$space} {
    padding: #{$space}rem 0;
  }
}