.btn {
  display: inline-block;
  background: $light-color;
  color: #333333;
  font-size: 1.6rem;
  padding: 0.8rem 2.5rem ;
  border: none;
  margin-right: 0.8rem;
  outline: none;
  transition: all 0.2s ease-in;
  cursor: pointer;

  &.btn-primary {
    @include set-background($primary-color);
    &:hover {
      background: lighten($primary-color, 7%);
    }
  }
  &.btn-dark {
    @include set-background($dark-color);
    &:hover {
      background: lighten($dark-color, 7%);
    }
  }
  &.btn-success {
    @include set-background($success-color);
    &:hover {
      background: lighten($success-color, 7%);
    }
  }
  &.btn-danger {
    @include set-background($danger-color);
    &:hover {
      background: lighten($danger-color, 7%);
    }
  }
  &:hover {
    background: lighten($dark-color, 30%);
    color: #ffffff;
  }
}