//BACKGROUNDS
.bg {
  &-primary {
    @include set-background($primary-color);
  }
  &-light {
    @include set-background($light-color);
    border: #c4c4c4 1px solid;
  }
  &-dark {
    @include set-background($dark-color);
  }
  &-succes {
    @include set-background($success-color);
  }
  &-danger {
    @include set-background($danger-color);
  }
  &-white {
    @include set-background(#ffffff);
    border: #c4c4c4 1px solid;
  }
}

.dark-overly {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.7);
}