//BACKGROUNDS
.bg {
  &-primary {
    @include set-background($primary-color);
  }
  &-light {
    @include set-background($light-color);
    border: #c4c4c4 1px solid;
  }
  &-dark {
    @include set-background($dark-color);
  }
  &-succes {
    @include set-background($success-color);
  }
  &-danger {
    @include set-background($danger-color);
  }
  &-white {
    @include set-background(#ffffff);
    border: #c4c4c4 1px solid;
  }
}

.dark-overly {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.7);
}

//CONTAINER
.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 4rem;
  margin-top: 10rem;
  margin-bottom: 5rem ;
}

// ALERTS
.alert {
  padding: 1rem;
  margin: 2rem;
  opacity: 0.9;
  background: $light-color;
  color: #333;
  font-weight: 400;
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;
  box-shadow: $light-shadow;


  &.alert-primary {
    @include set-background($primary-color);
  }
  &.alert-dark {
    @include set-background($dark-color);
  }
  &.alert-success {
    @include set-background($success-color);
  }
  &.alert-danger {
    @include set-background($danger-color);
  }
}

//ROUND IMAGES
.img {
  box-shadow: $light-shadow;
  &--round-left-right {
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
  }
  &--round-bottom {
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
  }
}

//LINE
.line {
  height: 1px;
  background: #ccc;
  margin: 3rem 0;
}

//BADGES
.badge {
  font-size: 1.5rem;
  padding: .3rem;
  text-align: center;
  margin: .5rem;
  background: $light-color;
  color: #333333;

  &.badge-primary {
    @include set-background($primary-color)
  }
  &.badge-dark {
    @include set-background($dark-color)
  }
  &.badge-success {
    @include set-background($success-color)
  }
  &.badge-danger {
    @include set-background($danger-color)
  }
}