.profile-grid {
  display: grid;
  grid-template-areas: 'top top' 'about about' 'exp edu' 'github github';
  grid-gap: 1rem;

  .profile-top {
    grid-area: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      width: 250px;
    }

    .icons a {
      color: $light-color;
      margin: 0 .5rem;

      &:hover {
        color: $dark-color;
      }
    }
  }
  .profile-about {
    grid-area: about;
    text-align: center;

    .skills {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  .profile-exp {
    grid-area: exp;
  }
  .profile-edu {
    grid-area: edu;
  }

  .profile-exp > div,
  .profile-edu > div {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: #ccc 1px solid;

    &:last-child {
      border:none;
    }

    p {
      margin: 1rem 0;
    }
  }
  .profile-github {
    grid-area: github;

    .repo {
      display: flex;

      & > div:first-child {
        flex: 7;
        flex-basis: 70%;
      }

      & > div:last-child {
        flex: 3;
        flex-basis: 30%;
      }
    }
  }
}